// Import
@import './_mixins';
@import './_variables';

html {
  font-size: 16px;
}

body {
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1.2em;
  overflow: hidden;
  color: #333;
}

* {
  word-wrap: break-word;
  box-sizing: border-box;
  font-family: $font-family;
}

a {
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  color: $color-branding-red;
}

hr {
  margin: 1rem 0;
  padding: 0;
  border: none;
  border-top: 1px solid #ddd;
}

strong, b {
  font-weight: 600 !important;
}

aside {
  position: relative;
  z-index: 99;
}

main {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: calc(100vh - #{$header-height});
  margin-top: $header-height;

  &.is-full {
    #geolocationMap {
      height: 100% !important;
    }
  }
}

footer {
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  width: 100%;
  height: #{$header-height + 10px};
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 .75rem;
  box-shadow: 0 -1px 4px rgba($color: #000000, $alpha: .2);
}

.noselect {
  @include noselect;

  * {
    @include noselect;
  }
}

.btn {
  display: inline-flex;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  background: #eee;
  color: #333;
  font-size: 1rem;
  border-radius: .25em;
  padding: .75em 1em;
  font-weight: 600;
  letter-spacing: 0;
  cursor: pointer;

  @include ellipsis;

  &-small {
    font-size: .75em;
  }

  &-large {
    font-size: 1.25em;
  }

  &-block {
    width: 100%;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: .7;
  }

  &:hover {
    box-shadow: inset 0 0 6px rgba($color: #000000, $alpha: .1);
  }

  &-blue {
    background: $color-branding-blue;
    color: #fff;
  }

  &-green {
    background: $color-branding-green;
    color: #fff;
  }

  &-red {
    background: $color-branding-red;
    color: #fff;
  }
}

.btn-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &-block {
    width: 100%;
  }

  .btn {
    flex: 1;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: .25em;
      border-bottom-left-radius: .25em;
    }

    &:last-child {
      border-top-right-radius: .25em;
      border-bottom-right-radius: .25em;
    }
  }
}

.map-wrapper {
  position: relative;
  width: 100vw;
  height: calc(100vh - #{$header-height});

  .map-masking {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .6);

    &__content {
      position: absolute;
      top: 40px;
      width: 100%;
      padding: 0 2rem;
      text-align: center;
    }
  }
}

.route-planner,
.route-result {
  position: relative;
  height: calc(100% + 3rem);
  margin: -1.5rem;
  padding: 1.5rem 1.5rem 0 calc(1.5rem + 7.5px);
  overflow: hidden;
  overflow-y: auto;

  > ul {
    min-height: 100%;
    border-left: 2px solid #ddd;
    padding-bottom: 30px;

    li {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 1.5rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30px;
    flex-shrink: 0;
    font-size: 1.25rem;
    color: $color-branding-red;
    background-color: #fff;

    &.start {
      color: $color-branding-green;
    }

    &.finish {
      color: $color-branding-blue;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -2px;
      width: 2px;
      height: 50%;
      background: #fff;
      content: "";
    }
  }

  &__card {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: .5rem;
    padding: 1rem;
    color: #333;

    &:hover {
      border-color: $color-branding-red;
      box-shadow: inset 0 0 0 1px $color-branding-red;
    }

    &.start {
      &:hover {
        border-color: $color-branding-green;
        box-shadow: inset 0 0 0 1px $color-branding-green;
      }
    }

    &.finish {
      &:hover {
        border-color: $color-branding-blue;
        box-shadow: inset 0 0 0 1px $color-branding-blue;
      }
    }
  }
}

.route-result {
  position: relative;
  height: calc(100vh - #{$header-height * 2}) !important;
  margin-top: $header-height;
  margin-bottom: $header-height;
  border-radius: 0;
  box-shadow: none;
  padding-top: 1.5rem;

  &__expander {
    display: none;
  }

  &__list {
    padding: 0 1.5rem;

    > ul {
      padding: 1.5rem 0;

      li {
        margin-bottom: 3rem;
      }
    }
  }

  &__distance {
    position: absolute;
    z-index: 1;
    top: -2.5rem;
    left: -13px;
    background-color: #fff;
    padding: .5rem;
    font-size: .9rem;
    font-weight: 600;
  }

  &::before,
  &::after {
    display: none;
  }
}

#geolocationMap {
  height: calc(100% - #{$sheet-height - 30});
}
