// Import
@import './_variables';
@import './_mixins';

// Text
.text-disabled {
  color: #999;
}

.text-ellipsis {
  @include ellipsis;
}

// Text Size
@each $name, $size in $text-size-list {
  .text-#{$name} {
    font-size: $size;
  }
}

// Align
@each $name, $align in $h-align-list {
  .text-#{$name} {
    text-align: $align;
  }
}

// BG & FG
@each $name, $color in $color-list {
  .fg-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    color: $color;
  }
}

// Font Weight
@each $name, $weight in $font-weight-list {
  .font-weight-#{$name} {
    font-weight: $weight;
  }

  .font-weight-#{$name} {
    font-weight: $weight;
  }
}

@each $name, $value in $spacing-list {
  @each $key, $position in $position-list {
    .p#{$key}-#{$name} {
      padding-#{$position}: $value !important;
    }
    .px#{$key}-#{$name} {
      padding-left: $value !important;
      padding-right: $value !important;
    }
    .py#{$key}-#{$name} {
      padding-top: $value !important;
      padding-bottom: $value !important;
    }
    .m#{$key}-#{$name} {
      margin-#{$position}: $value !important;
    }
    .mx#{$key}-#{$name} {
      margin-left: $value !important;
      margin-right: $value !important;
    }
    .my#{$key}-#{$name} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }
  }
}
